<p>
  <b>Name:</b>
  <%= Triumph::Achievement.where("id = ?", completed_achievement.achievement_id).first.name %>
  <br />
  <b>Description:</b>
  <%= Triumph::Achievement.where("id = ?", completed_achievement.achievement_id).first.description %>
  
</p>
